html {
  font-size: 62.5%;
}

::-moz-selection {
  color: white;
  background: #A17D53;
}

::selection {
  color: white;
  background: #A17D53;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
  font-weight: 300;
}

h5 {
  font-size: 2rem;
  font-weight: 300;
}

h6 {
  font-size: 1.5rem;
  font-weight: 100;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
}

li {
  font-size: 2rem;
  list-style-type: none;
}

a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.food-container {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
}

.food-container .food {
  width: 80%;
  margin: auto;
}

.food-container .food h2 {
  padding-top: 5rem;
}

.food-container .food hr {
  width: 10%;
  height: 4px;
  background: #A17D53;
  border: none;
  margin-bottom: 5rem;
}

.food-container .food .food-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.food-container .food .food-items .accordion {
  color: white;
  padding: 2rem 0;
  margin: 2rem 0;
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #A17D53;
  background: #1d4068;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.food-container .food .food-items .accordion:hover {
  background: #163252;
}

.food-container .food .food-items .panel {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.food-container .food .food-items .panel .panel-items {
  border-bottom: 2px solid white;
}

.food-container .food .food-items .panel .panel-items h4 {
  padding: 1rem 0;
}

.food-container .food .food-items .panel .panel-items h5 {
  text-align: right;
}

.food-container .food .food-items .panel-show {
  display: block;
}

.impressum-container {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
  height: 120vh;
}

.impressum-container .impressum {
  width: 80%;
  margin: auto;
}

.impressum-container .impressum h2 {
  padding-top: 5rem;
}

.impressum-container .impressum hr {
  width: 10%;
  height: 4px;
  background: #A17D53;
  border: none;
  margin-bottom: 5rem;
}

.impressum-container .impressum .impressum-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #112842;
  max-width: 600px;
  margin: auto;
}

.impressum-container .impressum .impressum-infos svg {
  width: 50px;
  padding: 2rem 0;
}

.impressum-container .impressum .impressum-infos svg g circle {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: red;
}

.impressum-container .impressum .impressum-infos svg g path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: white;
}

.impressum-container .impressum .impressum-infos h4 {
  padding: 2rem 0 0rem 0;
  position: relative;
}

.impressum-container .impressum .impressum-infos h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.impressum-container .impressum .impressum-infos h6 {
  color: #b6b6b6;
  text-align: center;
  padding: 1rem 0 2rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.impressum-container .impressum .impressum-infos h6 a {
  color: #b6b6b6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.impressum-container .impressum .impressum-infos:hover svg g circle {
  fill: white;
}

.impressum-container .impressum .impressum-infos:hover svg g path {
  fill: red;
}

.impressum-container .impressum .impressum-infos:hover h4::after {
  width: 100%;
}

.impressum-container .impressum .impressum-infos:hover h6 {
  color: white;
}

.impressum-container .impressum .impressum-infos:hover h6 a {
  color: white;
}

.datenschutz-container {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
}

.datenschutz-container .datenschutz {
  width: 80%;
  margin: auto;
}

.datenschutz-container .datenschutz h3 {
  padding: 3rem 0;
}

.datenschutz-container .datenschutz h5 {
  padding: 1rem 0;
  text-decoration: underline;
}

.datenschutz-container .datenschutz p {
  padding: 1rem 0;
}

.gerichte-container .gerichte .ger-items-container .animate_ger {
  width: 50vw;
  height: 40vh;
}

.gerichte-container .gerichte .ger-items-container .animate_ger span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header {
  background: #112842;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 10vh;
  margin: auto;
}

header .nav-container a h3 {
  position: relative;
}

header .nav-container a h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 0.5rem;
  height: 4rem;
  background: #A17D53;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .nav-container a h3::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5rem;
  bottom: 0rem;
  left: 0;
  background: #A17D53;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .nav-container a h3:hover::before {
  height: 0;
}

header .nav-container a h3:hover::after {
  width: 20rem;
}

header .nav-container a h3 span {
  color: #A17D53;
}

header .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-container ul li {
  padding: 2rem 2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

header .nav-container ul li a {
  letter-spacing: 0.5px;
  font-weight: 500;
}

header .nav-container ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #A17D53;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

header .nav-container ul li:hover a::before {
  width: 100%;
}

.menu-box {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-box .menu-x {
  width: 40px;
  height: 4px;
  background: white;
  -webkit-transition: all 0.4s cubic-bezier(0.7, -0.37, 0.24, 1.38);
  transition: all 0.4s cubic-bezier(0.7, -0.37, 0.24, 1.38);
}

.menu-box .menu-x::before, .menu-box .menu-x::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: white;
  -webkit-transition: all 0.4s cubic-bezier(0.7, -0.37, 0.24, 1.38);
  transition: all 0.4s cubic-bezier(0.7, -0.37, 0.24, 1.38);
}

.menu-box .menu-x::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.menu-box .menu-x::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.open .menu-x {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.open .menu-x::before {
  -webkit-transform: rotate(135deg) translate(-35px, -35px);
          transform: rotate(135deg) translate(-35px, -35px);
}

.open .menu-x::after {
  -webkit-transform: rotate(-135deg) translate(-35px, 35px);
          transform: rotate(-135deg) translate(-35px, 35px);
}

.list-container .list {
  background: #112842;
  position: absolute;
  top: 10%;
  right: 0;
  width: 100%;
  height: 95vh;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  border-left: 4px solid red;
  border-right: 4px solid red;
}

.list-container .list ul li {
  margin: 7rem 2rem;
}

.list-container .list ul li a {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2rem 3rem;
  border: 2px solid #A17D53;
  -webkit-box-shadow: -5px 5px #A17D53;
          box-shadow: -5px 5px #A17D53;
  margin: 3rem 0;
}

.list-container .list-open {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.welcome-container {
  height: 90vh;
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
}

.welcome-container .welcome {
  width: 80%;
  padding-top: 10%;
  margin: auto;
  position: relative;
}

.welcome-container .welcome h2 {
  padding-bottom: 2rem;
}

.welcome-container .welcome h3 {
  font-weight: 500;
}

.welcome-container .welcome hr {
  width: 25%;
  background: #A17D53;
  height: 4px;
  border: none;
  margin-bottom: 2rem;
}

.welcome-container .welcome h5 {
  margin-bottom: 5rem;
  width: 50%;
}

.welcome-container .welcome .g_btn {
  padding: 2rem 5rem;
  border: 2px solid #A17D53;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: -5px 5px #A17D53;
          box-shadow: -5px 5px #A17D53;
}

.welcome-container .welcome .g_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: #A17D53;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.welcome-container .welcome .g_btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.welcome-container .welcome .g_btn:hover::before {
  height: 100%;
}

.welcome-container .welcome img {
  width: 65%;
  position: absolute;
  top: 10%;
  right: 0;
}

.about-container {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
}

.about-container .about {
  width: 80%;
  margin: auto;
}

.about-container .about h2 {
  padding-top: 10rem;
}

.about-container .about hr {
  width: 10%;
  height: 4px;
  border: none;
  background: #A17D53;
  margin-bottom: 5rem;
}

.about-container .about h5 {
  width: 80%;
  padding: 2rem 3rem;
  border: 2px solid #A17D53;
  -webkit-box-shadow: -5px 5px #A17D53;
          box-shadow: -5px 5px #A17D53;
}

.topfood-container {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
}

.topfood-container .topfood {
  width: 80%;
  margin: auto;
}

.topfood-container .topfood h2 {
  padding-top: 10rem;
}

.topfood-container .topfood hr {
  width: 10%;
  height: 4px;
  border: none;
  background: #A17D53;
  margin-bottom: 3rem;
}

.topfood-container .topfood .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10rem;
}

.topfood-container .topfood .items .topfood-items {
  width: 400px;
  margin: 3rem 3rem 0 0;
  border: 2px solid #A17D53;
  -webkit-box-shadow: -5px 5px #A17D53;
          box-shadow: -5px 5px #A17D53;
  position: relative;
  z-index: 1;
}

.topfood-container .topfood .items .topfood-items::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #A17D53;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.topfood-container .topfood .items .topfood-items h4 {
  padding: 1rem;
}

.topfood-container .topfood .items .topfood-items h6 {
  padding: 1rem;
}

.topfood-container .topfood .items .topfood-items hr {
  width: 50%;
  background: #A17D53;
  height: 2px;
  border: none;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.topfood-container .topfood .items .topfood-items h5 {
  padding: 1rem;
  font-weight: 600;
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.topfood-container .topfood .items .topfood-items:hover {
  border-color: black;
}

.topfood-container .topfood .items .topfood-items:hover::before {
  width: 100%;
}

.topfood-container .topfood .items .topfood-items:hover hr {
  background: black;
  width: 100%;
}

.topfood-container .topfood .items .topfood-items:hover h5 {
  -webkit-transform: scale(2) translateX(-40%);
          transform: scale(2) translateX(-40%);
}

footer {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
}

footer .info-container {
  width: 80%;
  margin: auto;
}

footer .info-container h2 {
  padding-top: 10rem;
}

footer .info-container hr {
  width: 10%;
  background: #A17D53;
  border: none;
  height: 4px;
}

footer .info-container .info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .info-container .info-items .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #112842;
  width: 30%;
  margin: 5rem 2rem;
}

footer .info-container .info-items .info svg {
  width: 50px;
  padding: 2rem 0 5rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .info-container .info-items .info svg g circle {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: red;
}

footer .info-container .info-items .info svg g path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: white;
}

footer .info-container .info-items .info h4 {
  margin-bottom: 3rem;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
}

footer .info-container .info-items .info h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

footer .info-container .info-items .info h6 {
  text-align: center;
  padding-bottom: 7rem;
  color: #bebebe;
}

footer .info-container .info-items .info h6 a {
  color: #bebebe;
}

footer .info-container .info-items .info:hover svg g circle {
  fill: white;
}

footer .info-container .info-items .info:hover svg g path {
  fill: red;
}

footer .info-container .info-items .info:hover svg g rect {
  stroke: red;
}

footer .info-container .info-items .info:hover h4 {
  color: white;
}

footer .info-container .info-items .info:hover h4::after {
  width: 100%;
}

footer .info-container .info-items .info:hover h6 {
  color: white;
}

footer .info-container .info-items .info:hover h6 a {
  color: white;
}

.mail-ok-container {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
  height: 90vh;
  text-align: center;
}

.mail-ok-container .mail-ok {
  width: 80%;
  margin: auto;
}

.mail-ok-container .mail-ok h3 {
  padding: 15rem 0;
}

.mail-ok-container .mail-ok h3 span {
  font-size: 3rem;
  font-weight: 100;
}

.mail-ok-container .mail-ok a {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  border: 2px solid #A17D53;
  padding: 2rem 4rem;
  -webkit-box-shadow: -5px 5px #A17D53;
          box-shadow: -5px 5px #A17D53;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
}

.mail-ok-container .mail-ok a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #A17D53;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mail-ok-container .mail-ok a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mail-ok-container .mail-ok a:hover::before {
  height: 100%;
}

.contact-container {
  background: radial-gradient(circle, #1d4068 0%, #091620 100%);
  height: 90vh;
}

.contact-container .write-us {
  text-align: center;
}

.contact-container .write-us h4 {
  padding: 5rem 0 1rem 0;
  position: relative;
}

.contact-container .write-us h4::after {
  content: "";
  background: red;
  height: 2px;
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact-container .contact {
  width: 80%;
  margin: auto;
  text-align: center;
}

.contact-container .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
  width: 60%;
  margin: auto;
}

.contact-container .contact form #name, .contact-container .contact form #email, .contact-container .contact form #betreff, .contact-container .contact form #msg {
  padding: 2rem 3rem;
  margin: 2rem 0;
  background: transparent;
  border: 2px solid #A17D53;
  -webkit-box-shadow: -5px 5px #A17D53;
          box-shadow: -5px 5px #A17D53;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: lighter;
}

.contact-container .contact form button {
  border: 2px solid #A17D53;
  background: transparent;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: lighter;
  letter-spacing: 1px;
  -webkit-box-shadow: -5px 5px #A17D53;
          box-shadow: -5px 5px #A17D53;
  width: 300px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.contact-container .contact form button::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #A17D53;
  z-index: -1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-container .contact form button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-container .contact form button:hover::after {
  height: 100%;
}

@media screen and (max-width: 1112px) {
  header .nav-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav-container ul li {
    padding: 2rem 1.5rem;
  }
  header .nav-container a h3 {
    font-size: 3rem;
  }
  header .nav-container a h3::before {
    height: 3.4rem;
  }
  header .nav-container a h3:hover::after {
    width: 17rem;
  }
  .welcome-container .welcome h2 {
    font-size: 5rem;
  }
  .welcome-container .welcome h3 {
    font-size: 2.5rem;
  }
  .welcome-container .welcome hr {
    width: 15%;
  }
  .welcome-container .welcome h5 {
    font-size: 2rem;
    margin-bottom: 9rem;
    width: 50%;
  }
  .welcome-container .welcome .g_btn {
    font-size: 2rem;
  }
  .welcome-container .welcome img {
    top: 30%;
    right: 0;
    width: 50%;
  }
  footer .info-container h2 {
    font-size: 5rem;
  }
  footer .info-container hr {
    width: 15%;
  }
  footer .info-container .info-items .info {
    width: 42%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 1024px) {
  header .nav-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav-container ul li {
    padding: 2rem 1rem;
  }
  header .nav-container a h3 {
    font-size: 2.4rem;
  }
  header .nav-container a h3::before {
    height: 3rem;
  }
  header .nav-container a h3:hover::after {
    width: 13.5rem;
  }
  .welcome-container .welcome h2 {
    font-size: 3.5rem;
  }
  .welcome-container .welcome h3 {
    font-size: 2.5rem;
  }
  .welcome-container .welcome hr {
    width: 15%;
  }
  .welcome-container .welcome h5 {
    font-size: 1.7rem;
    width: 100%;
    margin-bottom: 9rem;
    width: 50%;
  }
  .welcome-container .welcome h6 {
    width: 50%;
    font-size: 2rem;
  }
  .welcome-container .welcome .g_btn {
    font-size: 2rem;
  }
  .welcome-container .welcome img {
    top: 30%;
    right: 0;
    width: 50%;
  }
  .about-container .about h2 {
    font-size: 3.5rem;
  }
  .about-container .about hr {
    width: 10%;
  }
  .about-container .about h5 {
    width: 90%;
    font-size: 2rem;
  }
  .topfood-container .topfood h2 {
    font-size: 3.5rem;
  }
  .topfood-container .topfood hr {
    width: 15%;
  }
  .topfood-container .topfood .items .topfood-items {
    width: 350px;
  }
  footer .info-container h2 {
    font-size: 3.5rem;
  }
  footer .info-container hr {
    width: 15%;
  }
  footer .info-container .info-items .info {
    width: 40%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 834px) {
  header .nav-container ul {
    display: none;
  }
  header .nav-container a h3 {
    font-size: 5rem;
  }
  header .nav-container a h3::before {
    height: 6rem;
  }
  header .nav-container a h3:hover::after {
    width: 29rem;
  }
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 3%;
    right: 3%;
  }
  .list-container .list ul li {
    margin: 10rem 1rem;
  }
  .list-container .list ul li a {
    font-size: 3rem;
  }
  .welcome-container .welcome h2 {
    font-size: 5rem;
  }
  .welcome-container .welcome h3 {
    font-size: 3rem;
  }
  .welcome-container .welcome h5 {
    font-size: 2.5rem;
    width: 100%;
    margin-bottom: 6rem;
    width: 100%;
  }
  .welcome-container .welcome h6 {
    width: 100%;
    font-size: 1.7rem;
  }
  .welcome-container .welcome .g_btn {
    font-size: 2.5rem;
  }
  .welcome-container .welcome img {
    top: 110%;
    right: 5%;
    width: 65%;
  }
  .about-container .about h2 {
    font-size: 5rem;
  }
  .about-container .about hr {
    width: 20%;
  }
  .about-container .about h5 {
    width: 100%;
    font-size: 2rem;
  }
  .topfood-container .topfood h2 {
    font-size: 5rem;
  }
  .topfood-container .topfood hr {
    width: 30%;
  }
  .topfood-container .topfood .items .topfood-items {
    width: 270px;
  }
  footer .info-container h2 {
    font-size: 5rem;
  }
  footer .info-container hr {
    width: 30%;
  }
  footer .info-container .info-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .info-container .info-items .info {
    width: 100%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 740px) {
  header .nav-container ul {
    display: none;
  }
  header .nav-container a h3 {
    font-size: 3.5rem;
  }
  header .nav-container a h3::before {
    height: 3.7rem;
  }
  header .nav-container a h3:hover::after {
    width: 20rem;
  }
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-container .list {
    top: 15%;
  }
  .list-container .list ul li {
    margin: 5rem 1rem;
  }
  .list-container .list ul li a {
    font-size: 1.7rem;
  }
  .welcome-container .welcome h2 {
    font-size: 3rem;
  }
  .welcome-container .welcome h3 {
    font-size: 2rem;
  }
  .welcome-container .welcome h5 {
    font-size: 1.7rem;
    width: 100%;
    margin-bottom: 3rem;
    width: 50%;
  }
  .welcome-container .welcome .g_btn {
    font-size: 1.7rem;
  }
  .welcome-container .welcome img {
    top: 15%;
    right: 0;
    width: 50%;
  }
  .about-container .about h2 {
    font-size: 3.5rem;
  }
  .about-container .about hr {
    width: 15%;
  }
  .about-container .about h5 {
    width: 100%;
    font-size: 1.7rem;
  }
  .topfood-container .topfood h2 {
    font-size: 3.5rem;
  }
  .topfood-container .topfood hr {
    width: 20%;
  }
  footer .info-container h2 {
    font-size: 3.5rem;
  }
  footer .info-container hr {
    width: 20%;
  }
  footer .info-container .info-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .info-container .info-items .info {
    width: 100%;
    margin: 5rem 0;
  }
  .contact-container {
    height: 230vh;
  }
  .contact-container .contact form {
    width: 100%;
  }
  .contact-container .contact form button {
    font-size: 1.7rem;
    width: 100%;
  }
}

@media screen and (max-width: 559px) {
  header .nav-container ul {
    display: none;
  }
  header .nav-container a h3 {
    font-size: 3rem;
  }
  header .nav-container a h3::before {
    height: 3.5rem;
  }
  header .nav-container a h3:hover::after {
    width: 17rem;
  }
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-container .list ul li {
    margin: 7rem 1rem;
  }
  .list-container .list ul li a {
    font-size: 1.7rem;
  }
  .welcome-container .welcome h2 {
    font-size: 3.5rem;
  }
  .welcome-container .welcome h3 {
    font-size: 2.3rem;
  }
  .welcome-container .welcome h5 {
    font-size: 1.7rem;
    width: 100%;
    margin-bottom: 6rem;
  }
  .welcome-container .welcome .g_btn {
    font-size: 1.7rem;
  }
  .welcome-container .welcome img {
    top: 110%;
    right: 5%;
    width: 90%;
  }
  .about-container .about h2 {
    font-size: 3.5rem;
  }
  .about-container .about hr {
    width: 30%;
  }
  .about-container .about h5 {
    width: 100%;
    font-size: 1.7rem;
  }
  .topfood-container .topfood h2 {
    font-size: 3.5rem;
  }
  .topfood-container .topfood hr {
    width: 30%;
  }
  footer .info-container h2 {
    font-size: 3.5rem;
  }
  footer .info-container hr {
    width: 40%;
  }
  footer .info-container .info-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .info-container .info-items .info {
    width: 100%;
    margin: 5rem 0;
  }
  .mail-ok-container .mail-ok h3 {
    font-size: 2rem;
    padding: 10rem 0;
  }
  .mail-ok-container .mail-ok h3 span {
    font-size: 1.7rem;
  }
  .mail-ok-container .mail-ok a {
    font-size: 1.5rem;
  }
  .contact-container {
    height: 130vh;
  }
  .contact-container .contact form {
    width: 100%;
  }
  .contact-container .contact form button {
    font-size: 1.7rem;
    width: 100%;
  }
}

@media only screen and (max-width: 321px) {
  header .nav-container ul {
    display: none;
  }
  header .nav-container a h3 {
    font-size: 2.7rem;
  }
  header .nav-container a h3::before {
    height: 3rem;
  }
  header .nav-container a h3:hover::after {
    width: 15.5rem;
  }
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-container .list ul li {
    margin: 6rem 1rem;
  }
  .list-container .list ul li a {
    font-size: 1.7rem;
  }
  .welcome-container .welcome h2 {
    font-size: 3rem;
  }
  .welcome-container .welcome h3 {
    font-size: 2.3rem;
  }
  .welcome-container .welcome h5 {
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  .welcome-container .welcome .g_btn {
    font-size: 1.5rem;
  }
  .welcome-container .welcome img {
    top: 110%;
    right: 10%;
    width: 90%;
  }
  .about-container .about h2 {
    font-size: 3rem;
  }
  .about-container .about hr {
    width: 30%;
  }
  .about-container .about h5 {
    width: 100%;
    font-size: 1.5rem;
  }
  .topfood-container .topfood h2 {
    font-size: 3rem;
  }
  .topfood-container .topfood hr {
    width: 30%;
  }
  footer .info-container h2 {
    font-size: 3rem;
  }
  footer .info-container hr {
    width: 40%;
  }
  footer .info-container .info-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .info-container .info-items .info {
    width: 100%;
    margin: 5rem 0;
  }
  .mail-ok-container .mail-ok h3 {
    font-size: 2rem;
    padding: 10rem 0;
  }
  .mail-ok-container .mail-ok h3 span {
    font-size: 1.7rem;
  }
  .mail-ok-container .mail-ok a {
    font-size: 1.5rem;
  }
  .contact-container {
    height: 150vh;
  }
  .contact-container .contact form {
    width: 100%;
  }
  .contact-container .contact form button {
    font-size: 1.7rem;
    width: 100%;
  }
}

.bestellung-container {
  background: #112842;
}

.bestellung-container .kategorien {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.bestellung-container .kategorien input[type='checkbox'] {
  display: none;
}

.bestellung-container .kategorien input[type='checkbox']:checked + label {
  background: #112842;
  -webkit-box-shadow: inset 5px 5px 9px #0c1d30, inset -5px -5px 9px #163354;
          box-shadow: inset 5px 5px 9px #0c1d30, inset -5px -5px 9px #163354;
}

.bestellung-container .kategorien input[type='checkbox']:checked + label::after {
  width: 80%;
}

.bestellung-container .kategorien label {
  width: 400px;
  text-align: center;
  position: relative;
  font-size: 2rem;
  padding: 2rem 3rem;
  margin: 2rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #0f243b, #122b47);
  -webkit-box-shadow: 5px 5px 9px #0c1d30, -5px -5px 9px #163354;
          box-shadow: 5px 5px 9px #0c1d30, -5px -5px 9px #163354;
}

.bestellung-container .kategorien label::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #A17D53;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bestellung-container .kategorien .checkfood-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bestellung-container .kategorien .checkfood-container .checkfood {
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #0f243b, #122b47);
  -webkit-box-shadow: 5px 5px 9px #0c1d30, -5px -5px 9px #163354;
          box-shadow: 5px 5px 9px #0c1d30, -5px -5px 9px #163354;
}

.bestellung-container .kategorien .checkfood-container .checkfood h4 {
  margin-bottom: 1rem;
}

.bestellung-container .kategorien .checkfood-container .checkfood h6 {
  margin-bottom: 2rem;
}

.bestellung-container .kategorien .checkfood-container .checkfood h5 {
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */